.home_container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #c7c7c7;
  height: 100%; */
  /* background: red; */
}

@media (max-width: 640px) {
  .home_container {
    overflow-x: hidden;
  }
}

button {
  font-size: 1.5rem;
}

.noCards {
  display: flex;
  /* height: 100vh; */
  font-size: 4rem;
  justify-content: center;
  align-items: center;
  /* background-color: skyblue; */
}

.mypagination {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  height: 5rem;
  align-items: flex-end;
}
